root = true

[*.{js, ts}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
quote_style = double
ij_javascript_force_quote_style = true
ij_typescript_force_quote_style = true
ij_javascript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_literal_braces = true

[*.html]
indent_style = space
indent_size = 2
quote_style = double
ij_html_quote_style = double
